<div ng-show="address">
	<br>
	<p class="lead">Events search results for {{address}}</p>
	<div class="alert alert-dismissable alert-success">
		<div class="list-group">
			<a href="#/detail/{{place.id}}" class="list-group-item"
				ng-repeat="event in events | filter:address ">
				<p class="lead">{{event.title}}</p>
				<p>{{event.summary}}</p>
				<p>{{event.zipcode}}</p>
			</a>
		</div>

	</div>
</div>
<div class="alert alert-dismissable alert-info" ng-hide="address">
	<br>
	<p class="lead">No results to show</p>
	<br>
</div>