
<div>
	<h2 class="fa fa-sun-o"> 7 Days Forecast for {{names.city.name}} DC</h2>
	<br>
	<table align="center" class="table table-hover">
		<tr class="success">
			<th>Date</th>
			<th>Low</th>
			<th>High</th>
			<th>Weather</th>
		</tr>
		<tr ng-repeat="x in names.list">
			<td>{{ x.dt | timestampToDate }}</td>
			<td>{{ x.temp.min | number:0 }}</td>
			<td>{{ x.temp.max | number:0 }}</td>
			<td> <img ng-src="{{getIconImageUrl(x.weather[0].icon)}}"/> {{x.weather[0].main}}</td>
		</tr>
	</table>
</div>
