<div>
    <h2>Map Location</h2>
        <div class="map_container" >
            <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control">
                <markers models="map.markers" coords="'self'" options="'options'" isLabel='true'>
                </markers>
            </google-map>
        </div>  
        <div class="controls">
            <h3>Current location</h3>
            <p>
                <button ng-click="addCurrentLocation()">Current location</button>                
            </p>
            <h3>Address search</h3>
            <p>
                <input type="text" placeholder="Address. i.e: Concha Espina 1, Madrid" ng-model="address" style="width: 210px"/>
                <button ng-click="addAddress()">Look up!</button>    
            </p>
            <p>
                <a href="http://kcy.me/1bbra" target="_blank">Source Code</a>
            </p>
        </div>
</div>